.music-player{

    position:fixed;

    left:0;

    right:0;

    bottom:0;

    height:100px;

    background:#121212;

    border-top:1px solid #2b2b2b;

    display:grid;

    grid-template-columns:1fr 1fr 1fr;

    align-items:center;

    padding:0 35px;

    z-index:1000;

}

.player-song{

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.player-song h4{

    color:white;

    font-size:18px;

    margin-bottom:5px;

}

.player-song p{

    color:#8b8b8b;

    font-size:14px;

}

.player-controls{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:18px;

}

.player-controls button{

    background:none;

    border:none;

    color:white;

    font-size:24px;

    cursor:pointer;

    transition:.3s;

}

.player-controls button:hover{

    transform:scale(1.15);

}

.play-main{

    width:58px;

    height:58px;

    border-radius:50%;

    background:#facc15 !important;

    color:black !important;

    font-size:26px;

    font-weight:bold;

}

.play-main:hover{

    transform:scale(1.08);

}

.progress-area{

    justify-self:end;

    display:flex;

    align-items:center;

    gap:12px;

    width:420px;

}

.progress-area span{

    color:#d1d5db;

    font-size:13px;

    width:42px;

    text-align:center;

}

.progress-area input{

    flex:1;

    cursor:pointer;

    accent-color:#facc15;

}

.volume-area{

    display:flex;

    align-items:center;

    gap:10px;

    width:170px;

}

.volume-area input{

    flex:1;

    cursor:pointer;

}